*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Titulo-ppa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align:center;
    color: black;
}
:root{
    --color-principal: #ececec;
    --color-secundario: #142d4c;
    --color-terciario: #385170;

}
#Genera{
    text-align: center;
    background-color: lightcyan;
    border-radius: 10%;
    border: solid blue;
}

h2{
    color:red;
    size: 20px;
}
body{
    background-image: url(../img/Segunda.jpg);
    background-color: var(--color-principal);
    color: var(--color-secundario);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header, main {
    padding: 15px;
}

.ppal {

    flex: 1;
}

.container {
    flex: 1; /* Hace que el contenedor ocupe todo el espacio restante */
}

footer{
    color: white;
    background-color: grey;
    justify-content: center;
    text-align: center;

}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
header .title {
    flex: 1;
}

header h2{
 color: black;
 font-weight: 100;
}

nav {
    background-color: rgb(200,200,200);
    margin-top: 0px, 50px, 0px 50px;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    padding:10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    
    font-size: 0.7em;

    transition: 0.2s all;

    display: inline-block;
    width: 100%;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}


#completo{
    background-color: pink; /* Fondo transparente */
    border: 1px solid #eb8ce6; /* Borde con relieve */
    border-radius: 10px; /* Radio de borde */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
    flex: 1;
    /*margin-bottom: 313px;   */
}

#sidebar {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid #ccc; /* Borde con relieve */
    border-radius: 10px; /* Radio de borde */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
    opacity: 0.8;
    margin-top: 65px;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 83%;
    padding: 20px;
    z-index: 1;    
  }
  
  /* Estilos para los enlaces en el sidebar */
#sidebar a {
    color: black /* Color de texto */ 
  }
  
  /* Estilos para los enlaces activos en el sidebar */
  /*
#sidebar a.active {
    color: #007bff; *//* Color de texto para enlace activo */ /*
  }
*/
.menu-item:hover {
    cursor: pointer;
}

/* Esto esta copiado */

/* Estilo para la barra lateral (sidebar) */


/* Estilo para los elementos del menú */
.nav-item {
    margin-bottom: 10px;
    border-radius: 5px;
 /*   
    color: white;    
    */
}

/* Estilo para los enlaces del menú */
.nav-link {
    color: #333; /* Color del texto del enlace */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}



.nav-item a {
    text-decoration: none;
    text-align: center;
    padding:10px;
    border-radius: 5px;
    background-color: cornflowerblue ;
    border-color: black;
    color: white;
    
    font-size: 0.8em;

    transition: 0.2s all;

    display: inline-block;
    width: 100%;
}

.nav-item a:hover {
    background-color: white;
    color: black;
}

/* Estilo para los enlaces activos (página actual) */
.nav-item.active {
    background-color: #007bff; /* Fondo azul para enlace activo */
    color: #fff; /* Color del texto del enlace activo */
}

/* Estilo para cambiar el cursor al pasar sobre elementos del menú */
.cursor-pointer:hover {
    cursor: pointer;
}


.actions{
    margin-left: 100px;

}
header .actions {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .actions a {
    text-decoration: none;
    display: inline-block;
    background-color: darkturquoise;
    padding: 15px;
    border-radius: 5px;

    margin: 0 15px;

    color: white;

    transition: 0.2s all;
}

#final{
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 0px 250px 0px 100px;
}