:root{
    --color-principal: #ececec;
    --color-secundario: #142d4c;
    --color-terciario: #385170;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-principal);
    color: var(--color-secundario);
    font-family: 'Roboto', sans-serif;
   
}
footer {
    color: white;
    background-color: var(--color-secundario);
    justify-content: center;
    text-align: center;
}