#genera{
    background-image: url(../img/Septima.jpg) no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

#form{
    width: 450px;
    color: white;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    
}

h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.ver1{
    box-sizing: border-box;
    border-radius: 10px;
    color: red;

}


