*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    margin: auto;
    /*background: url(../IMG/IMG5.jpg) no-repeat;*/
    background: url(../img/Segunda.jpg) no-repeat;
    background-color: aqua;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
   
}

h2{
    text-align: center;
}

footer{
    justify-content: center;
    text-align: center;
}

estilo_1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: white;
}

.gts{
    color: coral;
}