
{% extends "./base.html" %}
{% load static %}
    
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'core/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{%endblock%}
<!--       
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In Form by Python World</title>

    - Font Icon --
    <link rel="stylesheet" href="{% static 'core/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    -- Main css -
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
-->

{% block title %}Login{% endblock %}
{% block section_title %}Login{% endblock %}
{% block content %}
<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'core/img/octava.jpg' %}" alt="sing up image"></figure>
                        <a href="signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <!--
                        <form method="POST" class="register-form" id="login-form" action="{% url 'login' %}">
                        -->
                        <form method="POST" action="{% url 'login' %}">                            
                            {% csrf_token %}
                            <div class="form-group">
                                <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <!--
                                <input type="text" placeholder="Your Username"/>
                                -->
                                <p>{{ form.username }}</p>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-lock"></i></label>
                                <!--
                                <input type="text" id="your_pass" placeholder="Password"/>
                                -->
                                <p>{{ form.password }}</p>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <!--
                                <input type="submit" name="signin" id="signin" class="form-submit" value="login">
                                -->
                                <input type="submit" value="login">
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
{% endblock %}