{% extends "core/base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{%endblock%}

{% block title %}Billetra GP15{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}
    <h2 style="color:white">Promociones</h2>
    {% filter lower %}
    <div class="container text-center">
        <div class="row align-items-start estilo_1">
          <div class="col">
            <p>Fecha: {{ fecha }}</p>
          </div>
          <div class="col">
            <p>Usuario logueado como: <b>{{ nombre_usuario }}</b></p>
          </div>
        </div>
    </div>
    {% endfilter %}



{% endblock %}