{% extends "core/base.html" %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/alta_super.css' %}">
{%endblock%}

{% block title %}Alta de Tarjetas de Credito{% endblock %}
{% block section_title %}{% endblock %}
{% block content %}
    <h3>Datos del nuevo Responsable</h3>
    <form method="post" action="{% url 'tcu' %}">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" class="btn btn-info">
    </form>
    <p class="version">Alta de TCU View</p>
{% endblock %}