{% extends "core/base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">

{%endblock%}

<div class="container">
    {% block title %}Billetra GP15{% endblock %}
    {% block section_title %}{% endblock %}
</div>
{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

      <h2>Tipos Cobros</h2>
      <div class="card">
          <div class="card-body">
                  <form method="post" action="{% url 'tipo_cobro' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grip gap-2">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>

                </form>
              </form>
          </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <h1>Listado de Tipos de Cobro</h1>
      <div class="table-responsive py-2">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Código</th>
                      <th>Tipo Cobro</th>
                      <th colspan="2">Opciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for c in cursos %}
                  <tr>
                       
                      <td>{{forloop.counter}}</td>
                      <td>{{c.id}}</td>
                      <td>{{c.pago_name}}</td>
                      <td><a href="edicionCobro/{{c.id}}" class="btn btn-info">Editar</a></td>
                      <td><a href="eliminarCobro/{{c.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
<script src='../../static/core/js/message.js'></script>
{% endblock %}