{% extends "core/base.html" %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/alta_super.css' %}">
{%endblock%}

{% block title %}Lista de Usuarios List{% endblock %}
{% block section_title %}Lista de Usuario List{% endblock %}
{% block content %}
    <h3>Datos de las nuevas Usuarios</h3>
    <ul>
        <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Mail</th>
                <th scope="col">Acciones Posibles</th>                                             
              </tr>
            </thead>
            <tbody>

                {% for nombre_docente in lista_objetos %}           
                    <tr>

                            <td>{{ nombre_docente.persona_name}}</td>
                            <td>{{ nombre_docente.persona_apellido}}</td>
                            <td>{{ nombre_docente.persona_mail}}</td>
                            {% for tcu in usuario.usoTarjetas.all %}
                                 <li>{{ tcu.nombre }}</li> <!-- Suponiendo que 'nombre' es un campo en el modelo TCU -->
                            {% endfor %}
                            <td>{{ nombre_docente.Tarjetas}}</td>      
                            <td><a href="usuarioTC/{{nombre_docente.id}}" class="btn btn-info">Ver TC</a></td>                      
                            <td><a href="edicionCurso/{{c.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarCurso/{{c.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
    
                {% empty %}
                    <p>Sin Tarjetas registrados</p>
                {% endfor %}                            

            </tbody>
        </table>

    </ul>
{% endblock %}